*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: blueviolet;

}
main{
    background-color: whitesmoke;
    width: 500px;
    margin: auto;
    padding: 50px;
    box-shadow: 3px 3px 5px black;
}
h1{
    border-image-width: 700;
}
h2{
    border-image-width: 700;
}